*,
*:before,
*:after {
  box-sizing: border-box;
}

body.lock {
  overflow-y: hidden !important;
  position: fixed;
}

a.politika1 {
  transition: 0.3s all;
  color: #dfe571;
  text-decoration: none;
}

a.politika1:hover {
  color: #ff9725;
  text-decoration: none;
}

.popup,
.modal-success {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  overflow-x: hidden;
  overflow-y: auto;
  transition: all 0.5s ease 0s;
  z-index: 9999999;
}

.modal.open {
  opacity: 1;
  visibility: visible;
}
.modal-success.open {
  opacity: 1;
  visibility: visible;
}

.modal.open .modal__content{
  opacity: 1;
  transform: perspective(600px) translate(0px, 0px) rotateX(0deg);
}

.modal-success.open .modal__content {
  opacity: 1;
  transform: perspective(600px) translate(0px, 0px) rotateX(0deg);
}

.modal__body {
  min-height: 100vh;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding: 174px 10px 0px 10px;
}

.modal__content {
  background-color: #fff;
  color: #000;
  max-width: 600px;
  padding: 40px;
  border-radius: 25px;
  text-align: center;
  position: relative;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: all 0.5s ease 0s;
  transform: perspective(600px) translate(0px, -100%) rotateX(45deg);
}

.modal-form__title {
  font-size: 21px;
  margin-bottom: 20px;
  line-height: 25px;
  font-weight: 700;
  color: #212529;
}

.modal-form__body {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0px;
}

.modal-success__text {
  display: flex;
  flex-direction: column;
  font-size: 18px;
  align-items: center;
  height: 100%;
}

.modal-callback__form input {
  width: 100%;
  height: 45px;
  border: 0px;
  padding: 13px 25px;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  border-radius: 25px;
}

.modal-form__phone input::placeholder {
  color: #b8b8b8;
  font-weight: 500;
}

.modal-form__phone {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 30px;
}

.modal-input-name,
.modal-phone-number {
  height: 45px;
  background-color: #f3f3f3;
  border-radius: 25px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.modal-input-name {
  margin-bottom: 10px;
}

.modal-form__phone input:focus {
  border-color: #66afe9;
  outline: 0;
  border-radius: 25px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
    0 0 8px rgba(102, 175, 233, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
    0 0 8px rgba(102, 175, 233, 0.6);
}

.modal-form__btn,
.modal-call-back {
  background-color: var(--main-color);
  color: #fff;
  border-radius: 25px;
  padding: 10px 25px;
  width: 60%;
  cursor: pointer;
  font-weight: 400;
  display: inline-block;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 1.5;
}

.modal-form__btn:hover,
.modal-call-back:hover {
  box-shadow: none;
  z-index: 99999;
  background-color: var(--main-color-light);
}

.modal-form__btn:focus,
.modal-call-back:focus {
  outline: 0px;
}

.modal-form__btn:active,
.modal-call-back:active {
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.modal__close {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  text-align: center;
  font-weight: 300;
  font-size: 30px;
  position: absolute;
  right: -55px;
  top: 0;
  opacity: 0.7;
  box-sizing: border-box;
  cursor: pointer;
  text-decoration: none;
}

.modal-form__note {
  margin-top: 5px;
  margin-bottom: 10px;
  font-weight: 300;
  font-size: 12px;
  color: #777777;
  line-height: 1.4;
}

@media screen and (max-width: 768px) {
  .modal__content {
    max-width: 500px;
    padding: 30px;
  }

  .modal-form__body {
    flex-direction: column;
  }

  .modal-form__phone {
    margin-bottom: 20px;
    margin-right: 0;
  }

  .modal-form__btn {
    width: auto;
  }

  .modal__close {
    right: 0;
    top: -55px;
  }
}

@media screen and (max-width: 480px) {
  .modal__content {
    padding: 20px;
  }
}
