html, 
body {
  font-family: 'Roboto', Arial, sans-serif;
  color: #000;
  font-size: 16px;
  height: 100%;
  scroll-behavior: smooth;
}

body._lock {
  overflow: hidden;
}

h2 {
  margin-bottom: 40px;
  font-size: 42px;
  margin: 0;
}

a:visited {
  text-decoration: none;
  decoration: none;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.ibg img {
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
}

.main {
  flex: 1 1 auto;
  padding-top: 100px;
}

section {
  padding: 75px 160px;
}

/* Header */

.header {
  height: 100px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  background-color: #00A1B1;
  justify-content: space-between;
  align-items: center;
  transition: .3s all;
  z-index: 50;
}

@media (min-width: 769px) {
    .page-scrolled {
    background-color: rgb(255, 255, 255);
    height: 70px;
    box-shadow: rgb(0 0 0 / 70%) 0px 1px 3px;
    transition: .3s all;
  }
  .header.page-scrolled .menu-link {
    color: #000;
  }
  .header.page-scrolled .logo {
    background: url(../img/logo-truvox-transparent-white.png) no-repeat left top;
    background-size: cover;
    transition: .3s all;
  }
  .header.page-scrolled .diller {
    color: #000;
  }
  .header.page-scrolled .menu-link:after {
    background-color: #000;
  }
}

.logo {
  width: 216px;
  height: 54px;
  margin-left: 40px;
  background: url(../img/logo-truvox-transparent.png) no-repeat left top;
  background-size: cover;
  transition: .3s all;
  z-index: 99;
}

.diller {
  margin: auto auto auto 30px;
  color:#fff;
  font-weight: 300;
  text-align: end;
  font-size: 14px;
}

.nav {
  display: flex;
  margin-right: 40px;
}

.menu-icon {
  display: none;
}

.menu-item {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

.menu-link {
  position: relative;
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 400;
}

.menu-list:not(:last-child) {
  margin-right: 30px;
}

.menu-link:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  margin-bottom: -2px;
  background-color: #fff;
  transform: scaleX(0);
  transition: transform 0.2s;
}

.menu-link:hover:after {
  transform: scaleX(1);
}


/* --------------------------------------- */
/* Slider */

.slider {
  background-color: #f5f6f6;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 0;
}

.slider-swiper-container {
  width: 100%;
  overflow: hidden;
}

.swiper-slide {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.swiper-slide img {
  width: 100%;
  object-fit: fill;
}

/* ------------------------------------------ */
/* Company */

.company{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.company-line {
  max-width: 150px;
  width: 100%;
  height: 3px;
  background-color: #000;
  margin: 15px 0px 40px;
}

.company-text {
  max-width: 1160px;
  font-size: 20px;
  font-weight: 300;
  text-align: center;
  line-height: 1.55;
  margin: 0;
}

strong {
  font-weight: 700;
}

/* ------------------------------ */
/* Promo1 */

.promo1 {
  background-color: #f5f6f6;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.promo-text {
  margin: 0 0 105px;
  font-size: 20px;
  font-weight: 300;
  text-align: center;
  line-height: 1.55;
}

.title {
  margin: 0 0 30px;
}

.promo-description {
  max-width: 560px;
  margin: 0;
}

.promo-card {
  display: flex;
  justify-content: space-between;
  margin: 0 0 105px;
}

.card-item {
  margin: 0 20px;
  max-width: 360px;
  flex: 1 1 33.333%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-icon {
  margin: 0 0 25px;
  align-items: center;
}

.card-title {
  margin: 0 0 25px;
  font-size: 25px;
  font-weight: 600;
  line-height: 1.35;
}

.card-text {
  font-weight: 300;
  text-align: center;
  line-height: 1.55;
}

.button-popup {
  width: 260px;
  height: 60px;
  border-radius: 30px;
  background-color: #00a1b1;
  border: none;
  cursor: pointer;
  box-shadow: rgb(0 0 0 / 70%) 0px 0px 2px 0px;
  transition: all ease 0.2s;
}

.button-popup:hover{
  background-color: #28c3d4;
  box-shadow: 0px 0px 5px 0px rgb(0 0 0 / 50%);
  transition: all ease 0.2s;
}

.buttontext {
  color: #fff;
  font-size: 16px;
  font-weight: 700;
}

.card-img {
  width: 60px;
  height: 60px;
}

/* ------------------------------------------ */
/* Products */

.products {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.products-items {
  width: 100%;
  margin-top: 30px;
  display: grid;
  gap: 15px;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
}

.products-item {
  display: flex;
  flex-direction: column;
  position: relative;
}

.item-product__labels {
  position: absolute;
  z-index: 2;
  display: flex;
  flex-direction: column;
  top: 0;
  right: 0px;
  text-transform: uppercase;
  color: #fff;
}

.item-product__label {
  background-color: #00a1b1;
  padding: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-size: 12px;
}

.item-product__label:not(:last-child){
  margin-bottom: 10px;
}

.item-product__image {
  display: flex;
  justify-content: center;
  height: 200px;
}

.item-product__image>img {
  height: 100%;
  align-items: center;
  object-fit: cover;
}

.item-product__body {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
}

.item-product__content {
  flex: 1 1 auto;
  padding: 0 15px;
}

.item-product__title {
  margin: 18px 0 5px;
  font-size: 20px;
  font-weight: 600;
  line-height: 120%;
  color: #000;
}

.item-product__price {
  line-height: 150%;
  font-size: 18px;
  color: #7b787a;
  font-weight: 600;
  margin-bottom: 10px;
}

@media (any-hover: hover) {
  .item-product__actions {
    position: absolute;
    top: 100%;
    opacity: 0;
    visibility: hidden;
    display: none;
    justify-content: flex-start;
    align-items: center;
    background-color: #f2f2f2;
    padding: 20px 15px;
    z-index: 10;
    outline: 4px solid #f2f2f2;
    width: 100%;
    box-sizing: border-box;
  }

  .products-item:hover .actions-product {
    display: flex;
    opacity: 1;
    visibility: visible;
  }

  .products-item:hover {
    outline: 4px solid #f2f2f2;
  }
}

.actions-product__body {
  display: flex;
  flex-direction: column;
  background-color: #f2f2f2;
  padding: 20px 15px;
}

.products-item {
  outline: 4px solid #f2f2f2;
}

.actions-product__existence {
  margin-bottom: 15px;
  color:#7b787a;
  font-weight: 600;
}

.actions-product__existence .fa-check {
  color:#28c3d4;
  cursor:inherit;
}

.actions-product__text {
  margin-bottom: 15px;
  line-height: 150%;
}

.actions-product__btn {
  background-color: #00A1B1;
  padding: .5625em 1.125em .625em;
  color: #fff;
  text-decoration: none;
  align-self: center;
}

.actions-product__btn:hover {
  background-color: #28c3d4;
}

.actions-list {
  list-style-type: '- ';
  padding: 0 0 0 7px;
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
  font-size: 12px;
  width: 100%;
}

/* 
.howitswork {
  display: flex;
  justify-content: space-between;
}

.howitswork-content {
  margin-right: 40px;
}

.howitswork-content-title {
  font-size: 30px;
  margin: 72px 0 28px;
  font-weight: 600;
}

.howitswork-content-text {
  font-size: 18px;
  line-height: 1.55;
  font-weight: 300;
  margin-bottom: 60px;
}

.howitswork-img {
  display: flex;
  align-items: center;
}

.img-howitswork {
  width: 260px;
} */
/* ------------------------------------------- */

/* Feedback */
.feedback {
    background-color: #f5f6f6;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.feedback-title {
  margin: 0 0 40px;
  font-size: 42px;
  font-weight: 600;
  line-height: 1.35;
}

.swiper-container {
  padding: 30px 0 70px 0;
  max-width: 1199px;
  height: 350px;
}

.swiper-slide {
  min-width: 0;
}

.slide-feedback {
  background-color: rgb(230, 230, 230);
  border-radius: 20px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  margin: 0 100px;
}

.feedback-content {
  display: flex;
  align-items: flex-start;
}

.feedback-img {
  display: flex;
  border-radius: 50%;
  overflow: hidden;
  max-width: 160px;
  max-height: 160px;
}

.feedback-img img {
  max-width: 100%;
}

.feedback-text {
  font-style: italic;
  margin-left: 40px;
  line-height: 150%;  
}

.feedback-deskription {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: right;
}

.deskription-name {
  font-weight: 600;
  font-size: 20px;
  line-height: 150%;
  margin-bottom: 10px;
}

.deskription-position {
  font-weight: 600;
  color: #00A1B1;
}

.swiper-button-next:after,
.swiper-button-prev:after{
  color: #00a1a1;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: #00a1a1;
}
/* -------------------------------------------------------------------- */

/* Footer */
.footer {
  display: flex;
  flex-direction: column;
}

.footer-content {
  background-color: #242424;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-column-gap: 20px;
  align-items: center;
  padding: 40px 140px;
}

.footer-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-footer-item {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu-footer-list:not(:last-child) {
  margin-bottom: 10px;
}

.menu-footer-list .menu-link {
  text-transform: none;
  margin: 0;
}

.contacts-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contacts-footer>a {
  text-decoration: none;
  color: #fff;
  transition: all ease 0.3s;
}

.contacts-footer>a:hover {
  color: #28c3d4;
  transition: all ease 0.3s;
}

.contacts-footer i {
  margin-right: 5px;
}

.footer-copiryte {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #000;
  padding: 20px 40px;
}

.copiryte {
  color: #fff;
  align-self: center;
}

.social {
  font-size: 36px;
  display: flex;
  max-width: 150px;
  width: 150px;
  height: 40px;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  padding: 0 20px;
}

.fab,
.fas {
  cursor: pointer;
  transition: all ease 0.3s;
  color: #fff;
}

.fab:hover,
.fas:hover {
  color: #28c3d4;
  transition: all ease 0.3s;
}

.up {
  cursor: pointer;
  color: #fff;
  display: flex;
  align-items: center;
  align-self: center;
}

.arrow-top {
  cursor: pointer;
  position: relative;
  width: 30px;
  height: 50px;
  margin: 0px 0px 0px 5px;
}

.arrow-top div {
  position: relative;
  top: 14px;
  width: 2px;
  height: 20px;
  background-color: #fff;
  box-shadow: 0 3px 5px rgba(101, 101, 101, 0.2);
  left: 10px;
  display: block;
}

.arrow-top div::after {
  content: '';
  position: absolute;
  width: 10px;
  height: 2px;
  top: 2px;
  right: -7px;
  background-color: #fff;
  transform: rotate(45deg);
}

.arrow-top div::before {
  content: '';
  position: absolute;
  width: 10px;
  height: 2px;
  top: 2px;
  right: -1px;
  background-color: #fff;
  box-shadow: 0 3px 5px rgba(101, 101, 101, 0.2);
  transform: rotate(-45deg);
}

.up:hover .arrow-top {
  animation: arrow-top 1s linear infinite;
}

@keyframes arrow-top {
  0% {
    top: 0px;
  }

  50% {
    top: -10px;
  }

  100% {
    top: 0px;
  }
}

/* ----------------------------------------------------------- */


@media (max-width: 1200px) {
  body {
    font-size: 14px;
  }

  section {
    padding: 40px 80px;
  }
  .header {
    height: 70px;
  }

  .main {
    padding-top: 70px;
  }

  .page-scrolled {
    height: 50px;
  }

  .menu-list:not(:last-child) {
    margin-right: 20px;
  }

  .menu-link {
    font-size: 14px;
  }

  .logo {
    width: 150px;
    height: 37.5px;
  }

  .diller {
    margin: auto auto auto 20px;
    font-size: 12px;
  }

  .swiper-container {
    max-width: 991px;
    height: 300px;
  }

  .feedback-img {
    max-width: 120px;
    max-height: 120px;
  }

  .footer-content {
    grid-column-gap: 0;
    padding: 20px 70px;
  }
}

@media (max-width: 992px) {
  .title {
    font-size: 36px;
    margin: 0 0 15px;
  }

  .header {
    height: 60px;
  }
  .logo {
    margin-left: 20px;
    max-width: 120px;
    height: 30px;
  }

  .nav {
    margin-right: 20px;
  }

  .main {
    padding-top: 60px;
  }

  .menu-link {
    font-size: 14px;
  }

  .page-scrolled {
    height: 40px;
  }

  .menu-list:not(:last-child) {
    margin-right: 15px;
  }

  .diller {
    margin: auto auto auto 10px;
    font-size: 12px;
    z-index: 10;
  }

  .button-popup {
    width: 200px;
    height: 40px;
    border-radius: 20px;
  }

  .buttontext {
    font-size: 14px;
  }

  .company-line {
    margin: 15px 0 20px;
  }

  .company-text,
  .promo-description {
    font-size: 18px;
  }

  .promo-text,
  .promo-card {
    margin: 0 0 60px;
  }

  .card-img {
    width: 40px;
    height: 40px;
  }

  .card-title {
    font-size: 18px;
  }

  .swiper-container {
    max-width: 767px;
  }

  .feedback-img {
    max-width: 80px;
    max-height: 80px;
  }

  .slide-feedback {
    padding: 20px;
    margin: 0 50px;
  }

  .feedback-text {
    margin: 0 0 0 20px;
  }

  .deskription-name {
    font-size: 16px;
  }

  .footer-content {
    padding: 10px 35px;
  }

  .footer-copiryte {
    padding: 10px 35px;
  }

  .social {
    font-size: 28px;
    max-width: 120px;
  }

}

@media (max-width: 768px) {
  body {
    font-size: 12px;
  }

  section {
    padding: 20px 40px;
  }

  .header {
    height: 60px;
  }

  .title {
    font-size: 28px;
  }

  .menu-icon {
    z-index: 5;
    display: block;
    position: relative;
    width: 30px;
    height: 18px;
    cursor: pointer;
  }

  .menu-icon::before,
  .menu-icon::after,
  .menu-icon span {
    left: 0;
    position: absolute;
    height: 10%;
    width: 100%;
    transition: all 0.3s ease 0s;
    background-color: #fff;
  }

  .menu-icon::before,
  .menu-icon::after {
    content: '';
  }

  .menu-icon::before {
    top: 0;
  }
  .menu-icon::after {
    bottom: 0;
  }

  .menu-icon span {
    top: 50%;
    transform: scale(1) translate(0px, -50%);
  }

  .menu-icon._active span {
    transform: scale(0) translate(0px, -50%);
  }

  .menu-icon._active::before {
    top:50%;
    transform: rotate(-45deg) translate(0px, -50%);
  }

  .menu-icon._active::after {
    bottom: 50%;
    transform: rotate(45deg) translate(0px, 50%);
  }

  .menu {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 161, 177, 0.9);
    padding: 80px 30px 30px 30px;
    transition: left 0.3s ease 0s;
    overflow: auto;
    box-sizing: border-box;
  }

  .menu._active {
    left: 0;
  }

  .menu::before {
    content: '';
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    height: 40px;
    background-color: #00A1B1;
    z-index: 50;
  }

  .menu-item {
    flex-direction: column;
    margin: 0;
    padding: 0;
  }

  .menu-list:not(:last-child) {
    margin: 0 0 20px 0;
  }

  .menu-link {
    font-size: 24px;
  }

  .company-text,
  .promo-description {
    font-size: 16px;
  }

  .promo-text,
  .promo-card {
    margin: 0 0 40px;
  }

  .promo-card {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  .card-item {
    margin-bottom: 30px;
  }

  .products-items {
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  }

  .products-item {
    outline: 4px solid #f2f2f2;
  }

  .item-product__image {
    height: 180px;
  }

  .item-product__title {
    font-size: 16px;
    margin-top: 14px;
  }

  .swiper-container {
    max-width: 479px;
    height: 250px;
  }

  .slide-feedback {
    margin: 0;
  }

  .swiper-button-next,
  .swiper-button-prev,
  .swiper-pagination-bullet {
    opacity: 0;
    visibility: hidden;
  }

  .menu-footer {
    display: none;
  }

  .footer-content {
    grid-template-columns: 1fr 1fr;
  }

  .contacts-footer {
    text-align: right;
  }

  .social {
    font-size: 26px;
    max-width: 100px;
  }

  .arrow-top {
    height: 40px;
  }

  .arrow-top div {
    top: 8px;
  }
}

@media (max-width: 480px) {
  section {
    padding: 20px 20px;
  }

  .diller {
    margin: 0 10px 0 0;
  }

  .swiper-container {
    max-width: 310px;
  }

  .feedback-img {
    max-width: 60px;
    max-height: 60px;
  }

  .slide-feedback{
    padding: 10px;
  }

  .feedback-text {
    margin: 0 0 0 10px;
    line-height: 120%;
  }

  .deskription-name {
    font-size: 14px;
  }

  .promo-card {
    flex-direction: column;
  }

  .card-icon {
    margin: 0 0 10px;
  }

  .card-title{
    margin: 0 0 10px;
  }

  .footer-content {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    row-gap: 20px;
    padding: 10px 20px;
  }

  .contacts-footer{
    text-align: center;
  }

  .footer-copiryte {
    padding: 10px 20px;
  }

  .social {
    font-size: 20px;
    max-width: 80px;
  }
}
